.employee-navbar{
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    background:#ffffff;
    border-bottom:1px solid #e5e7eb;
    position:sticky;
    top:0;
    z-index:100;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#4f46e5;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#555;
    font-weight:600;
    padding-bottom:5px;
}

.nav-links a:hover{
    color:#4f46e5;
}

.nav-links .active{
    color:#4f46e5;
    border-bottom:3px solid #4f46e5;
}

.right-section{
    display:flex;
    align-items:center;
    gap:20px;
}

.employee-name{
    font-weight:600;
    color:#444;
}

.logout-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.logout-btn:hover{
    background:#dc2626;
}