.profile-page{
    padding:40px;
}

.profile-card{

    width:650px;

    margin:auto;

    background:white;

    border-radius:12px;

    padding:30px;

    box-shadow:0 0 10px rgba(0,0,0,.1);

}

.profile-card h2{

    margin-bottom:30px;

}

.row{

    display:flex;

    justify-content:space-between;

    margin-bottom:20px;

    border-bottom:1px solid #eee;

    padding-bottom:10px;

}

.row label{

    font-weight:bold;

}

.edit-btn{

    display:inline-block;

    margin-top:30px;

    background:#2563eb;

    color:white;

    text-decoration:none;

    padding:12px 25px;

    border-radius:8px;

}